:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --primary-color: #007acc;
  --secondary-color: #666;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --hover-bg-color: #e0f7fa;
  --card-bg-color: #fff; /* Default light mode card background */
}
body.dark-mode {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --primary-color: #69c0ff;
  --secondary-color: #cccccc;
  --box-shadow-color: rgba(255, 255, 255, 0.1);
  --hover-bg-color: #333333;
  --card-bg-color: #333; /* Dark mode card background */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Common Styling for Multiple Components */
.container {
  padding: 40px;
  background-color: var(--bg-color);
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px var(--box-shadow-color);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--box-shadow-color);
}

/* Education Section */

/* Home Section */
.home-container {
  color: var(--text-color);
}

.profile-title {
  color: var(--secondary-color);
}

body {
  transition: background-color 0.3s, color 0.3s;
}
