/* Work Experience Section */
.work-experience {
  padding: 20px;
  background-color: var(
    --bg-color
  ); /* Adaptable background for light and dark mode */
}

.work-experience-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
  color: #ff4500; /* Fire orange-red color */
  text-shadow: 0 0 10px #ff4500, 0 0 20px #ff6347, 0 0 30px #ff8c00,
    0 0 40px #ffa500, 0 0 50px #ff4500, 0 0 60px #ff6347, 0 0 70px #ff8c00;
  animation: fadeInDown 1s ease-in, fireGlow 2.5s infinite alternate,
    fireFlicker 1.5s infinite;
  background-color: transparent;
}

/* Experience Card */
.experience-card {
  background-color: var(--card-bg-color); /* Dark mode adaptation */
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.experience-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Experience Title */
.experience-title {
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--text-color); /* Adaptable for light and dark mode */
}

/* Experience Dates */
.experience-dates {
  font-size: 1rem;
  color: var(--secondary-color); /* Use secondary color for dates */
}

/* Experience Responsibilities */
.experience-responsibilities li {
  color: var(--text-color); /* Adaptable for light and dark mode */
  margin-bottom: 10px;
}

/* Fade-in Move Down Animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start from slightly above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in the original position */
  }
}

/* Firelight Glow Animation */
@keyframes fireGlow {
  0% {
    text-shadow: 0 0 5px #ff4500, 0 0 10px #ff6347, 0 0 20px #ff8c00,
      0 0 30px #ffa500, 0 0 40px #ff4500;
  }
  50% {
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff6347, 0 0 30px #ff8c00,
      0 0 40px #ffa500, 0 0 50px #ff4500;
  }
  100% {
    text-shadow: 0 0 15px #ff4500, 0 0 25px #ff6347, 0 0 35px #ff8c00,
      0 0 45px #ffa500, 0 0 55px #ff4500;
  }
}

/* Fire Flickering Effect */
@keyframes fireFlicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}

/* Smooth Transitions for Dark Mode */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  .work-experience-title {
    font-size: 2rem;
  }

  .experience-title {
    font-size: 1.2rem;
  }

  .experience-dates {
    font-size: 0.9rem;
  }

  .experience-responsibilities li {
    font-size: 0.9rem;
  }
}
